<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91811760654-qdu6ke4nk71ko3krhgngmutm27p8ebdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91811760654-qdu6ke4nk71ko3krhgngmutm27p8ebdv</string>
	<key>API_KEY</key>
	<string>AIzaSyDGMlM-LzokQ2anN0REQXHcCavXcAQaE_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>91811760654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bakliwalNewsAdmin</string>
	<key>PROJECT_ID</key>
	<string>bakliwal-news</string>
	<key>STORAGE_BUCKET</key>
	<string>bakliwal-news.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91811760654:ios:4303a9bb2eb6f69efa4a5f</string>
	<key>DATABASE_URL</key>
	<string>https://bakliwal-news-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>